<tr>
    <th scope="row" class="text-center"> <%= nombre %> </th>
    <td class="text-center"> <%= precio %> </td>
    <td class="text-center"> <img height="75px" src=<%= imagen %> alt=<%= nombre %> /> </td>
<tr>